<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some Page</title>
  </head>
  <body>
    {{> header}}

    <!-- Arguments passed in to a helper are separated by space -->
    <p>{{screamIt message}}</p>

    {{> footer}}
  </body>
</html>
